/* Global CSS */

html, body {
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Sen", sans-serif;
}

/* END Global CSS */

/* Header CSS */

.top-banner {
  background: #e3e1ed;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.app-name {
  padding: 2vw 0 2vw 2vw;
  font-size: 60px;
  font-weight: bold;
  color: #492f7f;
}

.created-by {
  padding: 1vw;
  margin-top: 3.2vw;
  color: #492f7f;
  font-size: 20px;
  flex-grow: 0.9;
}

.make-schedule-btn {
  border: none;
  background: #492f7f;
  color: white;
  padding: 1vw 2vw;
  font-size: 1.1vw;
  border-radius: 20px;
  height: 4vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  position: relative;

}

.make-schedule-btn:hover {
  background: white;
  color: #492f7f;
}

.make-schedule-btn:focus {
  outline: none;
}

.container {
  padding-top: 10vw;
}

/* END Header CSS */

/* Course Selector Card CSS */


.course-selector {
  padding: 4vw;
  width: 60vw;
  margin-top: 3vw;
  background-color: #f7f7f7;
  min-width: 600px;
  border-radius: 20px;
}

.class-num {
  font-weight: bold;
}


/* END Course Selector Card CSS */

/* Check Forms CSS */

.form-check {
  margin: 0 2rem;
}


/* END Check Forms CSS */

/* Area Button CSS */

.btn {
  background:#492f7f;
  color: white;
  padding: 1vw;
  border-radius: 10px;
}

.btn:focus, .btn-default:focus, .dropdown-toggle:focus {
  outline: 0;
  color: white;
}

.btn:hover {
  outline: none;
  color: white;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    padding: 1vw 0.2vw 1vw 1vw;
    width: 20rem;
}

.dropdown-menu li {
  margin-bottom: 0.5vw;
}

.menu-item {
  text-decoration: none;
  color: #101010;
}

.menu-item:hover {
  text-decoration: none;
  color: #492f7f;
}

/* END Area Button CSS */

/* Make Button CSS */



/* END Make Button CSS */
